*, a, ul, li, img, p, h5, h6, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button {
    background-color: transparent;
    border: none;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

