.header-mobile {
    display: none;
    padding: 0;
    background-color: black;    
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.header-mobile img {
    width: 50px;    
}

.header-button {
    color: white;
    font-size: 30px;
    margin: 0 10px;    
}

.cidade-div {
    display: flex;
    position: relative;
}

#mude-cidade-mobile:hover .mude-cidade-div {
    display: block;
}

#ouca-mobile:hover .ouca-div {
    display: block;
}

.mude-cidade-div, .ouca-div {
    z-index: 1;
    display: none;
    position: absolute;
    width: 250px;
    height: 400px;
    right: 50px;
    background-color: white;
    padding: 15px;
    overflow-y: scroll;
}

.ouca-div {
    right: 0;
    width: 150px;
    height: auto;
    overflow-y: auto;
}

.mude-cidade-div a, .ouca-div a {
    padding: 5px 30px;
    display: block;    
    color: gray;    
}

.banner-itens {
    background-color: red;
}

.banner-div {    
    display: flex;
    align-items: center;
    padding: 15px 30px;
    color: white;
}

.banner-div h5 {
    margin-left: 10px;
    margin-right: 30px;
}

.banner-div a {
    color: white;
    font-weight: bold;
}

@media (max-width: 835px) {
    .header-mobile {
        display: flex;
    }
}