.stf {
    color: gray;    
}

.stf h6 {
    color: darkred;
}

.stf:hover {
    color: black;
}

.my-carousel {
    width: 400px;
    margin: auto;    
    position: relative;
}

.my-slider {    
    display: flex;
    transition: 0.25s;
}

.next {
    position: absolute;
    bottom: 0;
    left: 50%;    
}

.prev {
    position: absolute;
    bottom: 0;
    right: 50%;    
}

.slide2 {
    transform: translateX(-400px);
}

.slide3 {
    transform: translateX(-800px);
}

.slide4 {
    transform: translateX(-1200px);
}

.slide-controls {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1));
    position: absolute;
    width: 100%;
    bottom: -20px;
    text-align: center;    
}

.slide-controls i {
    color: white;
    font-size: 50px;
    cursor: pointer;
}

.slide-controls i:hover {
    color: darkred;
}

.colunistas {
    width: 400px;
    overflow: hidden;
    margin: auto;
}

.colunistas h1 {
    color: darkred;
    font-weight: bold;
    font-size: 35px;
    border-bottom: 2px solid darkred;
    margin: 0;
    padding-bottom: 5px;
}

.my-carousel1 {
    background-color: rgb(235, 235, 235);
}

.colunistas-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(235, 235, 235);
    padding: 10px;
}

.colunistas-controls .i:hover {
    color: darkred;
}

.colunistas-controls i {
    color: rgb(99, 99, 99);    
    padding: 10px;
    cursor: pointer;
}

.colunistas-controls i:hover {
    color: darkred;
}

.my-slider1 {    
    transition: 0.25s;
    display: flex;    
}

.my-slide1 {
    min-width: 400px;
}

.bi-caret-left-fill, .bi-caret-right-fill {
    font-size: 25px;
}