.stf {
    color: gray;    
}

.stf h6 {
    color: darkred;
}

.stf:hover {
    color: black;
}

.colunistas h1 {
    color: darkred;
    font-weight: bold;
    font-size: 35px;
    border-bottom: 2px solid darkred;    
    padding-bottom: 5px;
    margin: 0;
}

.video-img {
    width: 100%;
}