.search-mobile {
    background-color: rgb(240, 240, 240);
    width: 100%;
    padding: 20px;
}

.close-mobile {
    position: fixed;
    top: 15px;
    left: 95%;
    color:darkred;
    font-size: 25px;    
}

.button-search {
    margin: 0 15px;
}

.input-search {
    width: 85%;
}

.title-mobile a {
    display: block;
    font-size: 20px;
    margin: 10px;
    font-weight: bold;       
}

.title-mobile {
    position: relative;    
    padding: 10px 0;
    margin: 30px 0;
}

.menu-links-mobile {
    padding-left: 200px;    
}

.menu-links-mobile a {
    margin-left: 20px;
    color: gray;   
    margin-top: 10px;
    display: block;
}

.title-mobile::before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    background-color: darkred;
    height: 100%;
    width: 5px;
}

.colunistas-mobile {
    display: flex;
    flex-direction: column;
    height: 300px;    
    width: 200px;
    overflow-y: scroll;
}

.menu-mobile {
    position: fixed;
    top: 0;
    left: 0;    
    display: block;    
    height: 100vh;
    width: 100%;
    background-color: white;        
    transition: 0.25s;
    transform: translateX(-100%);
    z-index: 1;  
    padding-bottom: 30px;  
    overflow-y: scroll;
}

.menu-mobile-show {
    transform: translateX(0);        
}
