.my-slide-item {
    display: flex;    
    margin: 10px 0;    
}

.slide-item-img {
    min-width: 60px;    
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.slide-item-img img {
    border-radius: 50%;
    transition: 0.3s;
    width: 100%;
}

.slide-item-img img:hover {
    scale: 1.1;
}

.slide-item-text h6 {
    color: darkred;
    font-size: 13px;
    margin-bottom: 5px;
}

.slide-item-text h5 {
    font-size: 15px;
    color: gray;
}

.colunista-item {
    padding: 10px;
    background-color: rgb(230, 230, 230);
}

.colunista-item .slick-dots {
    background-color: rgb(230, 230, 230);
    bottom: -40px;
    left: 0;        
    padding-bottom: 20px;
}

.slick-dots li button:before
{
    font-size: 13px;    
}

.colunista-item .slick-dots .slick-active button::before {
    color: darkred;
}

.slick-prev {
    top: unset;
    bottom: -30px;
    left: 20px;
    z-index: 1;
}

.slick-next {
    top: unset;
    bottom: -30px;
    right: 20px;
    z-index: 1;
}

.slick-next::before, .slick-prev:before {
    color: gray;
}